.header {
    font-size: 2.6rem;
    font-family: inherit;
}

.currentWeather-font {
    font-size: 2.6rem;
    font-family: inherit;
    color: $color-black;
}

.currentWeather-sub-font {
    font-size: 2rem;
    font-family: inherit;
    color: $color-secondary-grey;
}

.primary-haeding {
    font-weight: 200;
    font-size: 3rem;
    font-family: inherit;
    line-height: 1.1;
    color: $color-secondary-grey;
}