.currentWeather {
    height: 100%;

    &__details {
        background: rgba(255, 255, 255, 0.6);
        height: 15rem;
        width: 90%;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        border-radius: 3rem;
        transform: translate(0px, 2rem);

        @include respond(phone) {
            height: 20rem;
            transform: translate(0px, 8rem);
        }

        &-basic {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #city,
            #country {
                padding-left: 5rem;

                @include respond(phone) {
                    padding-left: 2rem;
                }
            }
        }

        &-spics {
            display: flex;
            text-align: center;
            align-self: center;
            padding-right: 2rem;

            @include respond(phone) {
                flex-direction: column-reverse;
            }

            #weather_image {
                width: 12rem;
                height: 12rem;

                @include respond(phone) {
                    width: 10rem;
                    height: 10rem;
                }
            }
        }
    }

    &__description {
        width: 100%;
        display: flex;
        background: azure;
        justify-content: space-around;
        bottom: 50vh;
        position: absolute;

        @include respond(phone) {
            position: inherit;
            height: 15rem;
            transform: translate(0px, 8rem);
        }

        .temp-description {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}